@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*, html {
    scroll-behavior: smooth;
    overflow-y: unset;
    cursor:none;
    overflow-wrap:normal;
    word-wrap: break-word;
    hyphens: auto;
    transition: 300ms ease-in-out;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.ViewPort {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: none;
}

.navbar-float{
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 500ms ease-in-out;
}

.navbar .nav-link {
    text-decoration: none;
    color: #f5f5f5;
}

.navbar .active .nav-link {
    color: #f2b31a;
}

.navbar-float .nav-link {
    color: #5f5f5f;
}

.navbar .navbar-brand {
    text-decoration: none;
    color: #f5f5f5;
}

.navbar-float .navbar-brand {
    color: #5f5f5f;
}

.children-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    background-image: url("../img/bg.webp");
    background-position: 0px 0px;
    background-attachment: fixed;
    color: #f5f5f5;
}

#home div p {
    max-width: 582px;
    text-align: center;
}
#home div h1 {
    font-family: 'Montserrat';
    font-size: 30px;
}

.vertflex {
    display: flex;
    flex-direction: column;
}

.appcard {
    height: 100%;
    background-color: aliceblue;
}

.appcard:hover {
    transform: scale(1.05);
    /*box-shadow: rgb(207,207,207) 0 32px 20px;*/
    box-shadow: 0 0.6px 1.4px rgba(0, 0, 0, 0.015),
                0 1.2px 3.1px rgba(0, 0, 0, 0.022),
                0 2.1px 5.2px rgba(0, 0, 0, 0.027),
                0 3.1px 7.8px rgba(0, 0, 0, 0.031),
                0 4.5px 11.3px rgba(0, 0, 0, 0.035),
                0 6.4px 15.9px rgba(0, 0, 0, 0.039),
                0 9px 22.6px rgba(0, 0, 0, 0.043),
                0 13.1px 32.9px rgba(0, 0, 0, 0.048),
                0 20.3px 50.6px rgba(0, 0, 0, 0.055),
                0 36px 90px rgba(0, 0, 0, 0.07);
}

.m3 {
    margin: 1rem;
}

main {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    canvas:not(.particles-js-canvas-el) {
        display: none;
    }

    *, html {
        scroll-behavior: smooth;
        overflow-y: unset;
        cursor: pointer;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}

canvas:not(.particles-js-canvas-el) {
    pointer-events: none;
    backdrop-filter: grayscale(1);
    z-index: 999999;
    border-radius: 24px;
    transition: none;
}

ion-icon {
    font-size: 32px;
}

.roundbox-32 {
    height: 48px;
    width: 48px;
    text-decoration: none;
    color: #f2b31a;
}
.goUp {
    width: 48px;
    height: 48px;
    background-color: #f2b31a;
    border-radius: 8px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: #f5f5f5;
}

#nameHighlight {
    color: #f2b31a;
}

@keyframes float {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}

hr {
    background: #f5f5f5;
    color: #f5f5f5;
    width: 75px;
    transition: 300ms ease-in-out;
}